Workflow_CS.json
{
  "name": "demo2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "maxResults": 20,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        64
      ],
      "id": "65ee50d8-09ed-4dc4-af20-9ff53f6764e3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KWGhzvwyEUJzC6PF",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "Emails related to customer assistance, account access, login issues, security alerts, password resets, technical problems, product inquiries, service requests, troubleshooting, complaints, feedback, office hours or support tickets that require help or guidance from the company."
            },
            {
              "category": "other",
              "description": "not customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        64
      ],
      "id": "9a02c52c-dc27-411d-83d7-bc40a625d48c",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        288
      ],
      "id": "3a152c35-6d76-4866-8774-3e525ed6c8f8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "y1vQgjAWYfZNGUGI",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        208
      ],
      "id": "932e08c5-57a3-436d-a6b3-73980a65b1bc",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support agent. Your job is to respond to incoming customer emails with helpful and accurate information.\n\n# Instructions\n- Be professional and friendly.\n- Understand the customer's issue.\n- Provide clear solutions.\n- Ask for more information if needed.\n- Keep responses concise.\n- Return only the email reply.\n\n#ouput\nonly body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        -192
      ],
      "id": "4e3631e0-1f2f-42cc-8344-e3ccee091e08",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -208
      ],
      "id": "7bf46e23-fea0-46a2-b4bf-0425575fa04d",
      "name": "Add label to message",
      "webhookId": "45928c9f-66a3-4e1c-9bfd-e97e4706669a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KWGhzvwyEUJzC6PF",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Customer Support Workflow",
        "height": 80,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -144
      ],
      "typeVersion": 1,
      "id": "57659360-711d-4dae-9008-a09665cfdaa0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        608,
        48
      ],
      "id": "dc48e1a2-fb62-49d4-9d4c-5074d82f276b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "y1vQgjAWYfZNGUGI",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "knowledgebase",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{ $json.text }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        800,
        16
      ],
      "id": "dd0ef3d4-b980-4b82-a3f6-02bf0a341d3a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zTt3KiTA3yiQwneL",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        192
      ],
      "id": "844eb79e-3094-419b-95b7-a652a249b2a4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pasw4GJfRWZQprOI",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "287f6e28-29ff-47f1-a16b-7413e002895f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61624821c97b0e57e0de07c6187019044f8eb894d54b9f7ba32caba6ba5c9659"
  },
  "nodeGroups": [],
  "id": "EikopaeQGhBEPP0m",
  "tags": []
}